body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to left, #219EBC 20%,#219EBC 20%,#219EBC 40%, #219EBC 40%, #219EBC 60%, #219EBC, #219EBC 80%, #219EBC 80%, #219EBC 80%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.minetweet {
  background-color: #FFB703;
  color: #023047;
}
